<div class="container-fluid">
    <div class="panel panel-default" style="width: 900px; margin: 110px auto 90px;">
        <div class="panel-body">
            <h1>About TRUMP or FALSE</h1>
            <hr>
            <h3>What is this?</h3>
            <p>Glad you asked. Donald Trump has said some batshit crazy things during this campaign season. Our goal is to figure out what he really did say and what is just made up.</p>

            <h3>How does it work?</h3>
            <p>This generates tweets randomly from either Donald Trump's twitter account or an array of tweets stored in a local file. This allows us to permanently store a truly insane tweet instead of only serving up the most recent Trump tweet.</p>

            <h3>Where do the fake tweets come from?</h3>
            <p>There are a multitude of great Trump parody twitter accounts. Others come from random Internet sites and a few I just made up.</p>
        </div>
    </div>
</div>