<div class="container-fluid" style="margin: 110px auto auto;width: 50%;">
    <div class="alert alert-danger" ng-if="lost"><b>Nope!</b> You got that one wrong...</div>

    <div class="well" style="margin-bottom: 90px;">
        <h1>Trump or False</h1>

        <div ng-if="score < 30">
            <h3>Score: {{score}}</h3>
            <hr>

            <blockquote>
                <p>{{randTweet.text}}</p>
            </blockquote>

            <div>
                <a class="btn btn-success" ng-click="check('realDonaldTrump')"><img src="https://image.winudf.com/132/a57ab20c85d296/icon=100x.png">Trump</a>
                <a class="btn btn-danger" ng-click="check('false')"><img src="https://image.winudf.com/167/c788a323000941/icon=100x.png">False</a>
            </div>
        </div>

        <div ng-if="score >= 30">
            <h1>You Win!</h1>
            <p>Congratulations for beating Trump or False. You clearly know The Donald better than he knows negotiating, and that's saying a lot!</p>
        </div>
    </div>
</div>